/* src/components/Sidebar.css */

.sidebar {
    width: 250px;
    background-color: #2e3b4e;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }
  
  .sidebar button {
    background-color: #44576c;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 8px;
    text-align: left;
    font-size: 16px;
  }
  
  .sidebar button:hover {
    background-color: #3c4f63;
  }
  
  .sidebar button:focus {
    outline: none;
    background-color: #556e80;
  }
  